// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

include "startup.kdl"
include "input.kdl"
include "display.kdl"
include "layout.kdl"
include "windowrules.kdl"
include "binds.kdl"
include "dms.kdl"

