// See: https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

// Desktop - 4k
output "GIGA-BYTE TECHNOLOGY CO., LTD. M28U 23090B006897" {
  mode "3840x2160@119.999" 
  scale 1.25
  focus-at-startup
}

// Desktop - secondary display
output "Ancor Communications Inc ASUS MG279 0x0002AD4F" {
  scale 1
  transform "270"

  // Display is vertical
  layout {
    default-column-width {
      proportion 1.0;
    }
  }
}

// Laptop - MacBook Pro 2015
output "eDP-1" {
  scale 1.25
}

