// See: https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    gaps 0

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"

    preset-column-widths {
      proportion 0.33333
      proportion 0.5
      proportion 0.66667

      // Fixed sets the width in logical pixels exactly.
      // fixed 1920
    }

    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    // preset-window-heights { }

    default-column-width { proportion 0.5; }

    focus-ring {
      off
      width 2
      active-color "#268bd2"
      inactive-color "#4c78cc"
    }

    border {
      on
      // off
      width 2
      active-color "#268bd2"
      // active-color "#4c78cc"
      inactive-color "#000000"
      urgent-color "#9b0000"
    }

    tab-indicator {
      position "bottom"
      length total-proportion=1.0
      place-within-column
    }
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// See: https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
  // Uncomment to turn off all animations.
  // off
  slowdown 0.5
  workspace-switch {
    off
  }
}

