spawn-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP QT_QPA_PLATFORMTHEME"
spawn-at-startup "systemctl" "--user" "start" "gnome-keyring-daemon"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "systemctl" "--user" "start" "dms"
spawn-at-startup "systemctl" "--user" "start" "vicinae"
spawn-at-startup "udiskie"
// spawn-at-startup "swayidle" "-w"

prefer-no-csd

environment {
  LANG "en_US.UTF-8"
  EDITOR "/usr/bin/nvim"
  DISPLAY ":0"

  WLR_NO_HARDWARE_CURSORS "1"
  // Set wlroots renderer to Vulkan to avoid flickering
  WLR_RENDERER "vulkan"
 
  // General wayland environment variables
  XDG_SESSION_TYPE "wayland"
  QT_QPA_PLATFORM "wayland"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"

  
  // QT/KDE dark mode quirks
  GTK_USE_PORTAL "1"
  QT_QPA_PLATFORMTHEME "xdgdesktopportal:qt5ct:qt6ct"

  // Firefox wayland environment variable
  MOZ_ENABLE_WAYLAND "1"
  MOZ_USE_XINPUT2 "1"

  // Xwayland compatibility
  // XWAYLAND_NO_GLAMOR "1"
  ELECTRON_OZONE_PLATFORM_HINT "auto"

  // Ghidra
  __JAVA_AWT_WM_NONREPARENTING "1"

  // Arch KDE menu gen
  XDG_MENU_PREFIX "arch-"

  // Make HIP use discrette GPU instead of iGPU
  HIP_VISIBLE_DEVICES "0"
}

