// See: https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
  match app-id=r#"^org\.wezfurlong\.wezterm$"#
  default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
  match app-id=r#"(firefox|zen)$"# title=r#"^Picture-in-Picture$"#
  open-floating true
  default-floating-position x=32 y=32 relative-to="bottom-right"
  max-width 800
  max-height 480
}

window-rule {
  match app-id=r#"(firefox|zen)$"# title=r#"^Extension: "#
  open-floating true
  default-floating-position x=32 y=32 relative-to="top-right"
  max-width 800
  max-height 480
}


// Chrome - Google Meet
window-rule {
  match app-id=r#"^(google-chrome)$"# title=r#"^(Meet - [a-z0-9]{3}-[a-z0-9]{4}-[a-z0-9]{3})$"#
  open-floating true
}

// TUI dialogs
window-rule {
  match app-id=r#"^(ui\.terminal\.dialog)$"#
  open-floating true
  min-width 800
  min-height 600
}

// Portals
window-rule {
  match app-id=r#"^(xdg-desktop-portal-gtk)$"#
  open-floating true
}

// Intellij/Goland
// See: https://github.com/hyprwm/Hyprland/issues/9355
window-rule {
  match app-id=r#"(jetbrains-)(.*)"# title=r#"^win(.*)"#
  open-floating true
  open-focused false
}

// xwaylandvideobridge
window-rule {
  match app-id=r#"^(xwaylandvideobridge)$"#
  opacity 0.0
  open-focused false
  max-height 1
  max-width 1
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#

  block-out-from "screen-capture"
}

