" Inspired by https://www.cyberwizard.io/posts/the-ultimate-ideavim-setup/
" See: https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins
" TODO: check https://github.com/akinsho/dotfiles/blob/3ca020b1849b5ce51d64fc773270cfe776ea3da7/.config/ideavim/.ideavimrc

Plug 'vim-scripts/argtextobj.vim'
"Plug 'easymotion/vim-easymotion'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
Plug 'michaeljsmith/vim-indent-object'

Plug 'justinmk/vim-sneak'
Plug 'tpope/vim-surround'

set number
set hlsearch
set ignorecase
set smartcase
set incsearch
set wrapscan
set scrolloff=5 sidescrolloff=10
set relativenumber

set multiple-cursors
set commentary
set surround
set ideajoin
set which-key

let mapleader = " "
set functiontextobj
set clipboard+=unnamedplus

nmap <leader>? :action GotoAction<CR>
nmap <leader>f :action FindInPath<CR>
nmap gi :action GotoImplementation<CR>

" AceJump integration
" See: https://github.com/acejump/AceJump
map s <Action>(AceAction)
