[Desktop Entry]
Type=Application
Name=lazydocker
Comment=TUI for managing Docker containers.
Exec=kitty --class=ui.terminal.dialog -e lazydocker
Icon=bluetooth
StartupWMClass=ui.terminal.dialog
Terminal=false
Categories=Utility;ConsoleOnly;
