[Desktop Entry]
Type=Application
Name=pacseek
Comment=Pacman TUI
Exec=kitty --class=ui.terminal.dialog -e pacseek
StartupWMClass=ui.terminal.dialog
# Icon=audio-speakers
Terminal=false
Categories=Utility;ConsoleOnly;
